<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <div class="container">
            <% include ../static/partials/messages.ejs %>
            <h2>Edit wiki</h2>
            <form action="/wikis/<%= wiki.id %>/update" method="post">
                <div class="form-group row">
                    <label for="title">Title: </label>
                    <input type="text" name="title" class="form-control" placeholder="Enter a title" aria-describedby="titleHelp" value="<%= wiki.title %>">
                </div>
                <div class="form-group row">
                    <label for="body">Body: </label>
                    <textarea name="body" class="form-control" rows="10" placeholder="Make the first addition here" aria-describedby="bodyHelp"><%= wiki.body %></textarea>
                </div>
                <div class="form-group btn-group-toggle" data-toggle="buttons">
                    <span>Who can see this wiki?</span>
                    <label class="btn btn-secondary <%= wiki.private == false ? 'active' : '' %> ">
                        <input type="radio" name="privateWiki" autocomplete="off" value="false" <% if(!wiki.private) { %>selected<% } %> > Public
                    </label>
                    <label class="btn btn-secondary <%= wiki.private == true ? 'active' : '' %>">
                        <input type="radio" name="privateWiki" autocomplete="off" value="true" <% if(wiki.private) { %>selected<% } %> >  Private
                    </label>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                </div>
                
            </form> 
        </div>
        
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>