<!-- For listing all wikis and sending to a new wiki page -->
<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>        
    </head>
    <body> 
        <% include ../static/partials/navbar.ejs %>  

        <div class="container">
            <% include ../static/partials/messages.ejs %>
            <h2>Choose a wiki to explore:</h2>
            <!-- Public wikis -->
            <div>
                <% if(wikis) { %> 
                    <ul>
                        <% wikis.forEach((wiki) => { %>
                            <% if(!wiki.private) { %> 
                                <li><a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a></li>
                            <% } %>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
            <!-- Private wikis if premium/admin user-->   
            <div>
                <% if(wikis && currentUser && (currentUser.isAdmin() || currentUser.isPremium())) { %>
                    <h2>Your Private Wikis</h2> 
                    <ul>
                        <% wikis.forEach((wiki) => { %> 
                            <% if(wiki.private && wiki.User.id === currentUser.id) { %> 
                                <li><a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a></li>   
                            <% } %>
                        <% }) %>
                    </ul>    
                <% } %>
            <!-- Wikis where user is a collaborator -->   
            </div>
            <div>
                 <% if (currentUser) { %> 
                    <h2>Wikis you are a collaborator for: </h2>       
                    <ul>
                        <% wikis.forEach((wiki) => { %> 
                            <% if (wiki.collaborators.length) { %> 
                                <% if(wiki.collaborators.find((x) => x.userId === currentUser.id)) { %> 
                                    <li><a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a></li>        
                                <% } %>   
                            <% } %>
                            
                            
                        <% }) %>
                    </ul>
                <% } %>
            </div>
               
            <div>

            </div>
            <div>
                <h2>Or create your own wiki...</h2>
                <% if(currentUser) { %>
                    <a href="/wikis/new" class="btn btn-dark"><span>Create Wiki</span></a>
                <% } else { %> 
                    <a href="/users/sign_in" class="btn btn-dark"><span>Create Wiki</span></a>
                <% } %>
                
            </div>
            

        </div> 
        
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>